{% extends 'base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="bg-white"
        {{ react_component('Profile/ProfilePage',
            {"isAuthenticated": is_granted('IS_AUTHENTICATED'),
            "profile": "profile" },
            {permanent: true}) }}>
        Loading...
    </div>

{% endblock %}