{% extends 'base.html.twig' %}

{% block title %} 
    LocaMais Home
{% endblock %}

{% block main %}

    <div class="" 
        {{ react_component('Home/HomePage', {"isAuthenticated": is_granted('IS_AUTHENTICATED')} , {permanent: true}) }}>
        Loading ....
    </div>

{% endblock %}