{% extends 'base.html.twig' %}

{% block title %}
    {{ propertie.title }}
{% endblock %}

{% block main %}

    <div class="bg-white" 
        {{ react_component('Propertie/PropertiePage', 
            {"isAuthenticated": is_granted('IS_AUTHENTICATED'),
            "propertie": propertie } , 
            {permanent: true}) }}>
        Loading...
    </div>


{% endblock %}

