{% extends 'base.html.twig' %}

{% block title %}
    Mes Annonces
{% endblock %}

{% block main %}
    
    <div class="bg-gray-50"
        {{ react_component('Annonces/MesAnnoncesPage',
            {"isAuthenticated": is_granted('IS_AUTHENTICATED'),
            "annonces": annonces|json_encode|raw},
            {permanent:true}) }}>
        Loading...
    </div>

{% endblock %}