{% extends 'base.html.twig' %}


{% block title %}
    Admin gestion des biens
{% endblock %}

{% block main %}

    <div
        {{ react_component("Admin/Biens", {'data': data},{permanent:true}) }}>
        Loading...
    </div>
    
{% endblock %}