{% extends 'base.html.twig' %}


{% block title %}
    Admin rapports
{% endblock %}

{% block main %}

    <div
        {{ react_component("Admin/Rapport", {permanent:true}) }}>
        Loading...
    </div>
    
{% endblock %}