<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2037.55%2042.44%22%3E%3Cpath%20d=%22M19.14%2010.5a7.32%207.32%200%200%201%206.06-3.75h7.61c-.61%201.59-1.64%203-2.36%204.51-.79%201.3-1.61%202.56-2.34%203.9q-4.87%208.4-9.73%2016.84a7.16%207.16%200%200%201-6.1%203.7c-2.53.06-5.06%200-7.59%200%20.72-1.55%201.68-3%202.44-4.5.79-1.28%201.58-2.56%202.3-3.89%203.27-5.59%206.48-11.2%209.71-16.81z%22%20fill=%22%232ae5cf%22/%3E%3Cpath%20d=%22M8.54%202a4.08%204.08%200%200%201%203.71-2c5.43%200%2010.87%200%2016.3.05%202.4.24%203.36%202.7%204.39%204.53H25.2a9.12%209.12%200%200%200-5.65%202.16c-1.84%201.49-2.77%203.72-4%205.7-1.82%203.09-3.54%206.24-5.42%209.29l-2.56-1.16c.57%202.26%201.26%204.48%201.86%206.73-.72%201.33-1.51%202.61-2.3%203.89-2.21-3.61-4.25-7.32-6.4-11a4.12%204.12%200%200%201-.18-4.39Q4.53%208.91%208.54%202z%22%20fill=%22%2387ebff%22/%3E%3Cpath%20d=%22M28.11%2015.14c.73-1.34%201.55-2.6%202.34-3.9%202.21%203.6%204.22%207.31%206.37%2010.94a4.27%204.27%200%200%201%20.16%204.5q-3.91%206.8-7.83%2013.58a4.18%204.18%200%200%201-3.93%202.17H9.27c-2.54-.07-3.59-2.66-4.65-4.55%203-.1%205.93.12%208.88-.12a9.57%209.57%200%200%200%206.6-4.49c2.43-4.19%204.84-8.39%207.27-12.57.85.4%201.72.77%202.61%201.1-.59-2.25-1.2-4.47-1.87-6.66z%22%20fill=%22%230a36ef%22/%3E%3C/svg%3E">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {# Body #}
    <body class="flex flex-col min-h-screen" >
    
        {# Navbar #}
        <main class="flex-grow">
            <div class="sticky top-0 z-40 bg-white shadow-sm"
                {{ react_component('Navbar', { 'isAuthenticated': is_granted('IS_AUTHENTICATED_FULLY') }, { permanent: true }) }}>
                Loading...
            </div>
            {# Main content #}
            {% block main %}{% endblock %}
        </main>

        <!-- Footer -->
        {# <footer class="w-full py-8 bg-slate-50 mt-8">
            <div class="container mx-auto text-center text-gray-600">
                <p>&copy; 2025 Location Maison. Tous droits réservés.</p>
            </div>
        </footer> #}
    </body>
</html>