{% extends 'base.html.twig' %}
    {% block main %}

    <div
        {{ react_component("ConversationPage" , {"isAuthenticated": true, "data": conversations , userId:1}) }}>
        Loading...
    </div>
    
{% endblock %}